.image{
  width: 100%;
  /* float: left; */
}
.icon{
  height: 20px;
}
.left{
  float: left;
}
.new{
  clear: left;
}
.group{
  width: 80vw;
  margin: auto;
}



.bold{
  font-weight: bold;
}
.blue{
  color: rgb(67, 155, 161);
}

ul{
  list-style: none;
}
body{
  background-color: bisque;
}
.title{
  width: 80vw;
  margin: auto;
  text-align: center;
  color: rgb(231, 108, 41);
  font-size: 64px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}