.image{
  width: 50%;
  /* float: left; */
}
.icon{
  height: 20px;
}
.left{
  float: left;
}
.new{
  clear: left;
}
.group{
  align-items: center;
}
.title{
  align-content: center;
}

.card{
  width: 50vw;
  
}

ul{
  list-style: none;
}
body{
  background-color: bisque;
}
.title{
  text-align: center;
  font-size: 64px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}